<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameStoreIL</title>
    <link rel="icon" href="https://i.pinimg.com/474x/53/4b/3d/534b3d306b597e6c19291686b5e04033.jpg" type="image/icon type">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body class="site-background ">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 nav-main-container">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Games Store</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 mr-auto">
                        @*<li class="nav-item">
                                      <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">MindGames</a>
                            </li>*@
                        @*<li class="nav-item">
                                <a class="nav-link text-dark">SportGames</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark">BoxGames</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark">YoungGames</a>
                            </li>*@
                        <li class="nav-item">
                            <a href="/Home/About" class="btn">About Us</a>
                        </li>
                        <li class="nav-item">
                            @*share and like in facebook*@
                            <div id="fb-root"></div>
                            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="WQZ6fbtV"></script>
                            <div class="fb-like" data-href="https://www.linkpicture.com/q/GameStoreIL.png" data-width="" data-layout="button" data-action="like" data-size="large" data-share="true"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    .site-background {
        background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
    }
</style>
