@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Games StoreIL respects your privacy and as a part of that, protects your personal data.
    We will provide you with information on the action taken within one month after the successful submission of your request via this Web Form.
    We are required to verify your identity including, but not limited to, the verification of your email address. If you do not allow us to verify your identity, we cannot proceed with processing your request.
    If you have any questions, concerns or complaints regarding the processing of your personal data, please contact us at: privacy@GameStoreIL.com.
</p>
