a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.map {
    position: absolute;
    width: calc(50% - 15px);
    height: 87%;
    right: 0;
    top: 0;
    background: #ddd;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.nav-flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.row {
    display: flex;
    justify-content: space-between;
}

.card {
    transition: all 0.5s;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px 0 #eeeeee;
    border-radius: 12px;
    flex-basis: 30%;
}
.card img {
    height: 200px;
    width: 100%;
}

.addToCartButton {
    opacity: 0;
    transition: opacity 0.5s;
}

.card:hover .addToCartButton {
    opacity: 1;
}

.card:hover {
    box-shadow: 0 12px 18px 0 #e0e0e0
}
    .card:hover .card-body .card-text {
        color: cadetblue;
    }